altair~=5.0
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
cloudpathlib~=0.16
comm
confection~=0.1.0
cycler
cymem~=2.0.8
decorator
fonttools
gitdb
GitPython
idna
Jinja2~=3.1
joblib~=1.4
jsonschema
jsonschema-specifications
kiwisolver
langcodes~=3.3
markdown-it-py
MarkupSafe
matplotlib~=3.8
murmurhash~=1.0.10
networkx~=3.2
nltk~=3.8
numpy~=1.26
packaging
pandas~=2.2
Pillow~=10.0
platformdirs
plotly~=5.19
preshed~=3.0.9
protobuf~=4.25
pyarrow
pydantic~=2.5
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
regex
requests
rich
rpds-py
scikit-learn~=1.4
scipy~=1.12
seaborn~=0.13
six
soupsieve
spacy==3.7.2
spacy-legacy~=3.0
spacy-loggers~=1.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
srsly~=2.4
thinc==8.1.12
threadpoolctl
tornado
tqdm
typer
typing_extensions
urllib3
vaderSentiment~=3.3
wasabi~=1.1
wordcloud~=1.9
streamlit~=1.33.0