altair~=5.0
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
cloudpathlib
comm
confection
cycler
cymem
decorator
fonttools
gitdb
GitPython
idna
Jinja2~=3.1
joblib~=1.4
jsonschema
jsonschema-specifications
kiwisolver
langcodes
markdown-it-py
MarkupSafe
matplotlib~=3.8
murmurhash
namex
nest-asyncio
networkx~=3.2
nltk~=3.8
numpy~=1.26
packaging
pandas~=2.2
Pillow~=10.0
platformdirs
plotly~=5.19
preshed
protobuf~=4.25
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
regex
requests
rich
rpds-py
scikit-learn~=1.4
scipy~=1.12
seaborn~=0.13
six
soupsieve
spacy~=3.7
spacy-legacy
spacy-loggers
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=866332bc03539sg0010380925794559f13217b00970275afea95671ab95dd99c
srsly
thinc
threadpoolctl
tornado
tqdm
typer
typing_extensions
urllib3
vaderSentiment~=3.3
wasabi
wordcloud~=1.9
streamlit~=1.33.0